# Dependencies
node_modules/

# Production build outputs
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables & temporary files
.env
.env.*
!.env.example
*.log
.DS_Store
.venv/
__pycache__/
